page-reset {
  ::-webkit-scrollbar{
    display:none;
  }
  .close {
    float: right;
    display: inline;
  }
  .title {
    text-align: center;
    display: inline;
  }
  .rounded {
    border-radius: 25px;
    border: 1px solid #ffffff;
    padding: 20px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    background-color: #633bb7;
    margin-top: 20px;
  }
  p.error {
    color: map-get($colors, 'danger');
  }
}
