<ion-header>
  <ion-navbar>
    <ion-title>Your Ride History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background">

  <ion-card *ngFor="let ride of rides" class="card">
    <agm-map [latitude]="ride.endPosition[0]" [longitude]="ride.endPosition[1]" [zoom]="16" [streetViewControl]="false" [clickableIcons]="false" [mapDraggable]="false" [zoomControl]="false">
      <agm-polyline [clickable]="false" [geodesic]="true" [strokeColor]="'#EE4469'">
        <agm-polyline-point *ngFor="let data of ride.route"
          [latitude]="data[0]"
          [longitude]="data[1]">
        </agm-polyline-point>
      </agm-polyline>
      <agm-marker [latitude]="ride.endPosition[0]" [longitude]="ride.endPosition[1]" [iconUrl]="'assets/location2.png'"></agm-marker>
    </agm-map>


    <ion-item>
      <h2 style="display: inline">{{ride.startTime}}</h2>
      <p style="float: right; display: inline">{{ride.distance}} km</p>
      <br>
      <p style="display: inline">{{ride.rideHours}}:{{ride.rideMinutes}}:{{ride.rideSeconds}}</p>
      <p style="float: right; display: inline">$0.00</p>
    </ion-item>
  </ion-card>
  <div class="noRides" *ngIf="noRides">
    <h1 class="text">No rides yet!</h1>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [threshold]="'5%'" *ngIf="pagingEnabled" style="color: white;">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
