<ion-header>
  <ion-navbar>
    <ion-buttons left>
            <button ion-button icon-only (click)="back()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    <ion-title>Your Ride History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let ride of rides">
    <agm-map [latitude]="ride.currentLatitude" [longitude]="ride.currentLongitude" [zoom]="16" [clickableIcons]="false" [streetViewControl]="false">
      <agm-polyline>
        <agm-polyline-point *ngFor="let data of ride.ridePath"
          [latitude]="data.lat"
          [longitude]="data.lng">
        </agm-polyline-point>
      </agm-polyline>
      <agm-marker [latitude]="ride.currentLatitude" [longitude]="ride.currentLongitude" [iconUrl]="'assets/inride.png'"></agm-marker>
    </agm-map>
    <ion-item>
      <h2 style="display: inline">{{ride.rideInfo.startTime}}</h2>
      <p style="float: right; display: inline">{{ride.rideInfo.distance}} km</p>
      <br>
      <p style="display: inline">{{ride.rideInfo.time}} min</p>
      <p style="float: right; display: inline">{{ride.rideInfo.calories}} cal</p>
    </ion-item>

  </ion-card>
</ion-content>
