<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
            <button ion-button icon-only (click)="back()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    <ion-title>Your Ride History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="rides">

  <ion-card *ngFor="let ride of rides">
    <agm-map [latitude]="ride.endPosition[0]" [longitude]="ride.endPosition[1]" [zoom]="16" [clickableIcons]="false" [streetViewControl]="false">
      <agm-polyline>
        <agm-polyline-point *ngFor="let data of ride.route"
          [latitude]="data[0]"
          [longitude]="data[1]">
        </agm-polyline-point>
      </agm-polyline>
      <agm-marker [latitude]="ride.endPosition[0]" [longitude]="ride.endPosition[1]" [iconUrl]="'assets/inride.png'"></agm-marker>
    </agm-map>
    <ion-item>
      <h2 style="display: inline">{{ride.startTime}}</h2>
      <p style="float: right; display: inline">{{ride.distance}} km</p>
      <br>
      <p style="display: inline">{{ride.time}} min</p>
      <p style="float: right; display: inline">{{ride.calories}} cal</p>
    </ion-item>

  </ion-card>
</ion-content>
