page-home {
  @-webkit-keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  animation-duration: 1s;
}
@-webkit-keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, -000%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
  animation-duration: 1s;
}
.hide {
  visibility: hidden;
}
  agm-map {
    width: 100%;
    height: 100%;
  }
  .logo {
    text-align: center;
    margin: auto;
    width: 100%;
    margin-bottom: -10px;
    margin-top: -10px;
  }
  .white {
    color: white;
  }
  .grey {
    opacity: 0.3;
  }
  .fullBike {
    text-align:center;
    margin-bottom: -5px;
    width: 100%;
    position: relative;
    margin-top: -130px;
    display: inherit;
    z-index: -1;
  }
  .slideDown {
    margin-top: 10px;
    transition: all 1s ease-in-out;
  }
  .slideUp {
    margin-top: -130px;
    transition: all 1s ease-in-out;
  }
  .bikeProfileStats {
    background-color: white;
    width: 100%;
    height: 130px;
    margin-top: -10px;
  }
  .bikeProfileStat {
    text-align: center;
    font-size: 15px;
    margin-bottom: -15px;
  }
  .bikeProfileStat ion-label {
  }
  .left {
    width: 50%;
    display: inline-block;
    text-align: right;
    padding-right: 5px;
  }
  .right {
    width: 50%;
    display: inline-block;
    text-align: left;
    padding-left: 5px;
  }
  .bikeProfileStat-label {
    font-weight: bold;
    font-size: 15px;
  }
  .bikeProfileStat-stat {
    font-size: 15px;
  }
  .bikePreview {
    display: inline;
    width: 60%;
    text-align: center;
  }
  .bikePreviewName {
     text-align: center;
     font-size: 20px;
     font-weight: bold;
     padding-bottom: 0px;
     background-color: white;
  }
  .stat {
    margin-top: -25px;
    margin-bottom: -17px;
    z-index: -1;
    text-align: center;
  }
  .bikePreviewStat {
    color: grey;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
  }
  .bikePreviewText {
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
  }
  .arrow {
    text-align: center;
    width:10%;
    display: inline;
  }
  .button {
    background-color: white;
    color: #633bb7;
  }
  .rounded {
    border-radius: 25px;
    border: 1px solid #FECA51;
    padding: 20px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #FECA51;
  }
  .toolbar-background {
    background-color: #FECA51;
  }
  .background {
    position:relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }
  .menu {
    float: left;
    z-index: 1;
    display: inline-block;
  }
  .filter {
    float: right;
    display: inline-block;
    z-index: 1;
  }
  .qr {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3vh;
    margin: auto;
    z-index: 2;
    width: 35%;
    max-height:250px;
    max-width: 250px;
  }
  .avatar {
    width: 45%;
    padding-right: 5%;
    padding-top: 3%;
    display: inline-block;
    vertical-align: middle;
  }
  .name {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    color: white;
  }
  .userStat {
    float: none !important;
    background-color: #EE4469;
    padding: 7px !important;
    border-radius: 7px;
    font-size: 25px !important;
  }
  .menu-items {
    width: 100%;
    padding: 0px;
    background-color: #5ACCF7;
    padding-left: 5%;
  }
  .menu-items .label-md {
    margin: 5px 0px 5px 0px;
  }
  .userMenu {
    background-color: #5ACCF7;
  }
  .menuOptions {
    background-color: #FECA51;
  }
  .menuOptions button {
    background-color: #5ACCF7;
    color: white;
  }
  ::-webkit-scrollbar{
    display:none;
  }
  .button {
    background-color: white;
    color: #EE4469;
  }
  .rounded {
    border-radius: 25px;
    border: 1px solid #ffffff;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    color: #ffffff;
    background-color: #EE4469;
  }
  .profile {
    margin: auto;
    text-align: left;
  }
  .icon {
    font-size:50px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .stats {
    color: black;
    font-size:15px;
    text-align: center;
  }
  .gm-style-iw + div {
    display: none;
  }
  .rating {
    float: right;
    position: absolute;
    right: 0px;
  }
  .gm-bundled-control {
    display: none
  }
  .locate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
  }
  .circle {
    position: absolute;
    bottom: 3vh;
    right: 2vw;
    z-index: 2;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: white;
  }
  .bikeName {
    background-color: #DB3364;
    color: white;
    padding: 5px 0px 5px 10px;
  }
  .inRide-stats {
    font-size: 20px;
    background-color: #EE4469;
    color: white;
    padding: 0px 0px 0px 5px;
  }
  .inRide-text {
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
  }
  .inRide-stat {
    float: right;
    padding: 0px;
    color: white;
    font-size: 35px;
    display: inline-block;
    vertical-align: middle;
  }
  .inRide-stats .label-md {
    margin: 10px 0px 0px 0px;
  }
  .last .label-md {
    margin: 10px 0px 10px 0px;
  }
  .big {
    height: 100%;
    background: linear-gradient(0deg, #F7FAFB 50%, #EAEBE9 50%);
    color: black;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: "Roboto", "Helvetica Neue", sans-serif !important;
  }
  .no-border {
    padding-left: 7px;
    padding-right: 7px;
    font-weight: bold;
    font-size: 40px;
    line-height: 35px;
    margin: 0px;
  }
}
