<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle="left" start>
      <ion-icon name="menu" style="font-size:37px; color: white"></ion-icon>
    </button>
    <ion-title><img src="assets/text-logo.png" class="logo"></ion-title>
    <button ion-button menuToggle="right" end>
      <ion-icon name="search" style="font-size:37px; color: white; visibility: hidden"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <ion-card style="position: absolute; top: 0; z-index: 4;" [ngClass]="bikePreviewClass">
    <ion-card-header class="bikePreviewName">
      {{bikeProfile.type}} Bike
      <!--
      {{bikeProfile.ownerName ? bikeProfile.ownerName + "'s Bike": bikeProfile.name}}
      -->
    </ion-card-header>
    <div style="text-align:center; background-color: white; display:">
      <img src="assets/bike-profile.png" class="bikePreview">
    </div>
    <div style="text-align: center;background-color: white">
      <span class="inRide-stat userStat" style="height: 44px;"><span [ngClass]="bikeProfile.size=='S' ? 'white' : 'grey'">S</span><span class="grey">/</span><span [ngClass]="bikeProfile.size=='M' ? 'white' : 'grey'">M</span><span class="grey">/</span><span [ngClass]="bikeProfile.size=='L' ? 'white' : 'grey'">L</span></span>
      <span class="inRide-stat userStat"><span class="big" *ngIf="bikeProfile.rides">{{bikeProfile.rides.length}}</span> rides</span>
      <span class="inRide-stat userStat" *ngIf="bikeProfile.rating"><span class="big">{{bikeProfile.rating}}</span> <ion-icon name="star" style="font-size: 25px; padding: 0px;"></ion-icon></span>
    </div>
    <!--
    <div class="right">
      <ion-item class="stat">
        <span class="bikePreviewText" padding-vertical>Size</span>
        <span class="bikePreviewStat">{{bikeProfile.size}}</span>
      </ion-item>
      <ion-item class="stat">
        <span class="bikePreviewText" padding-vertical>Rating</span>
        <span class="bikePreviewStat">{{bikeProfile.rating}}</span>
      </ion-item>
      <ion-item class="stat">
        <span class="bikePreviewText" padding-vertical>Rides</span>
        <span class="bikePreviewStat" *ngIf="bikeProfile.rides">{{bikeProfile.rides.length}}</span>
      </ion-item>
    </div>
  -->
    <div class="fullBike" [ngClass]="bikeProfileClass"><!--(swipe)="swipeEvent($event)">-->
      <div class="bikeProfileStats">
        <ion-item class="bikeProfileStat">
          <div class="left">
            <p class="bikeProfileStat-label">Name</p>
          </div>
          <div class="right">
            <p class="bikeProfileStat-stat">{{bikeProfile.name}}</p>
          </div>
        </ion-item>
        <ion-item class="bikeProfileStat">
          <div class="left">
            <p class="bikeProfileStat-label">Color</p>
          </div>
          <div class="right">
            <p class="bikeProfileStat-stat">{{bikeProfile.color}}</p>
          </div>
        </ion-item>
        <ion-item class="bikeProfileStat">
          <div class="left">
            <p class="bikeProfileStat-label">Total Distance</p>
          </div>
          <div class="right">
            <p class="bikeProfileStat-stat">{{bikeProfile.totalDistance}} km</p>
          </div>
        </ion-item>
        <ion-item class="bikeProfileStat">
          <div class="left">
            <p class="bikeProfileStat-label">Total Time</p>
          </div>
          <div class="right">
            <p class="bikeProfileStat-stat">{{bikeProfile.rideHours}}:{{bikeProfile.rideMinutes}}</p>
          </div>
        </ion-item>
      </div>
      <br>
      <img src="{{bikeProfileArrow}}" class="arrow" (click)="showBikeProfile()">
    </div>
  </ion-card>

  <img src="assets/QR.png" class="qr" (click)="scanBLE()" *ngIf="!inRide">

  <div class="circle" (click)="center()" *ngIf="!inRide">
    <ion-icon name="locate" class="icon locate"></ion-icon>
  </div>

<!--
  <agm-map (mapReady)="mapReady($event)" [latitude]="39.905022" [longitude]="-75.354034" [zoom]="16" [streetViewControl]="false" [clickableIcons]="false" (mapClick)="closeBikePreview()" #gm>
-->
  <agm-map (mapReady)="mapReady($event)" [latitude]="latitude" [longitude]="longitude" [zoom]="16" [streetViewControl]="false" [clickableIcons]="false" (mapClick)="closeBikePreview()" #gm>

    <agm-polygon *ngIf="paths" [paths]="paths" [fillOpacity]="0.2" [clickable]="false" [strokeWeight]="0"></agm-polygon>
<!--
    <agm-marker [visible]="!inRide" [zIndex]="3" [latitude]="39.905022" [longitude]="-75.354034" [iconUrl]="'assets/location.png'"></agm-marker>
-->
    <agm-marker [visible]="!inRide" [zIndex]="3" [latitude]="latitude" [longitude]="longitude" [iconUrl]="'assets/location.png'">
      <agm-circle [visible]="!inRide" [latitude]="latitude" [longitude]="longitude" [radius]="50" [fillColor]="color" [fillOpacity]="0.3" [strokeWeight]="0"></agm-circle>
    </agm-marker>

    <agm-marker [visible]="!inRide" *ngFor="let bike of bikes" [zIndex]="2" [latitude]="bike.currentPosition[0]" [longitude]="bike.currentPosition[1]" [iconUrl]="'assets/bike-icon.png'" (markerClick)="openBikePreview(bike.number)"></agm-marker>

    <agm-marker *ngFor="let hub of hubs" [zIndex]="1" [latitude]="hub.location[0]" [longitude]="hub.location[1]" [iconUrl]="'assets/hub-icon.png'">
      <agm-circle [latitude]="hub.location[0]" [longitude]="hub.location[1]" [radius]="hub.radius*1000" [fillColor]="color" [fillOpacity]="0.3" [strokeWeight]="0"></agm-circle>
    </agm-marker>

    <agm-polyline [visible]="inRide" [clickable]="false" [geodesic]="true" [strokeColor]="'#EE4469'">
      <agm-polyline-point *ngFor="let data of ridePath"
        [latitude]="data[0]"
        [longitude]="data[1]">
      </agm-polyline-point>
    </agm-polyline>
    <agm-marker [visible]="inRide" [latitude]="currentLatitude" [longitude]="currentLongitude" [iconUrl]="'assets/inRide.png'"></agm-marker>

  </agm-map>

  <ion-card [hidden]="!inRide" style="z-index: 1; position: absolute; bottom: 0">
    <ion-card-header class="bikeName">
      {{bikeType}} Bike
    </ion-card-header>
    <ion-card-content class="inRide-stats">
      <ion-item class="inRide-stats">
        <span class="inRide-text" padding-vertical>Total Time Traveled</span>
        <span class="inRide-stat"><span class="big" *ngIf="rideHours">{{rideHours}}</span><span class="no-border" *ngIf="rideHours">:</span><span class="big">{{rideMinutes}}</span><span class="no-border">:</span><span class="big">{{rideSeconds}}</span></span>
      </ion-item>
      <ion-item class="inRide-stats">
        <span class="inRide-text" padding-vertical>Total distance traveled</span>
        <span class="inRide-stat"><span class="big">{{rideDistance}}</span><span class="no-border">.</span><span class="big">{{rideDistanceDecimal}}</span> km</span>
      </ion-item>
      <ion-item class="inRide-stats last">
        <span class="inRide-text" padding-vertical>Total Cost</span>
        <span class="inRide-stat">$ <span class="big">0</span><span class="no-border">.</span><span class="big">00</span></span>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-menu [content]="menu" side="left">
    <ion-content class="userMenu">
      <ion-item class="menu-items" no-lines text-wrap>
        <span class="avatar">
          <img src="assets/avatar.png">
        </span>
        <span class="name" padding-vertical>
          <h1 style="font-size: 20px">{{firstName}} {{lastName}}</h1>
          <h2 style="width: 100%">{{campus}} College</h2>
        </span>
      </ion-item>
      <ion-item class="menu-items" no-lines>
        <span class="inRide-stat userStat"><span class="big">{{totalRideHours}}</span> h <span class="big">{{totalRideMinutes}}</span> m</span>
      </ion-item>
      <ion-item class="menu-items" no-lines>
        <span class="inRide-stat userStat"><span class="big">{{totalRideDistance}}</span> <span style="font-weight: bold">.</span> <span class="big">{{totalRideDistanceDecimal}}</span> km</span>
      </ion-item>
      <ion-item class="menu-items" no-lines>
        <span class="inRide-stat userStat"><span class="big">{{totalRides}}</span> rides</span>
      </ion-item>
      <ion-list class="menuOptions" no-lines>
        <button ion-item (click)="ridehistory()">Your Rides</button>
        <button ion-item (click)="payment()">Payment</button>
        <button ion-item (click)="help()">Help</button>
        <button ion-item (click)="settings()">Settings</button>
        <button ion-item (click)="share()">Donate a bike</button>
        <button ion-item (click)="report()">Report a bike</button>
        <button ion-item (click)="logout()">Logout</button>
        <button ion-item (click)="demo()">DEMO</button>
        <!--
        <button ion-item (click)="test()">DEMO</button>
        <button ion-item (click)="reset()">Reset</button>
        <button ion-item (click)="safety()">Safety</button>
    -->
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-nav #menu style="display: none"></ion-nav>

<!--
  <ion-menu [content]="filter" side="right" id="filter">
    <ion-header>
      <ion-toolbar>
        <ion-title>Filter</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
    <ion-list>
      <button ion-item (click)="payment()">Payment</button>
      <button ion-item (click)="ridehistory()">Your Rides</button>
      <button ion-item (click)="help()">Help</button>
      <button ion-item (click)="setting()">Settings</button>
      <button ion-item (click)="logout()">Logout</button>
    </ion-list>
  </ion-content>
  </ion-menu>
  <ion-nav #filter style="display: none"></ion-nav>
-->
</ion-content>
