<ion-content style="background-color: #EE4469">
  <h1 style="text-align: center; color: white;">Ride completed!</h1>
  <ion-card style="box-shadow: none !important; border: none !important">
    <ion-card-header class="bikeName">
      {{bikeType}} Bike
    </ion-card-header>
    <ion-card-content class="inRide-stats">
      <ion-item class="inRide-stats">
        <span class="inRide-text" padding-vertical>Total Time Traveled</span>
        <span class="inRide-stat"><span class="big" *ngIf="rideHours">{{rideHours}}</span><span class="no-border" *ngIf="rideHours">:</span><span class="big">{{rideMinutes}}</span><span class="no-border">:</span><span class="big">{{rideSeconds}}</span></span>
      </ion-item>
      <ion-item class="inRide-stats">
        <span class="inRide-text" padding-vertical>Total distance traveled</span>
        <span class="inRide-stat"><span class="big">{{rideDistance}}</span><span class="no-border">.</span><span class="big">{{rideDistanceDecimal}}</span> km</span>
      </ion-item>
      <ion-item class="inRide-stats last">
        <span class="inRide-text" padding-vertical>Total Cost</span>
        <span class="inRide-stat">$ <span class="big">0</span><span class="no-border">.</span><span class="big">00</span></span>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <div class="map">
    <agm-map [latitude]="currentLatitude" [longitude]="currentLongitude" [zoom]="16" [clickableIcons]="false" [streetViewControl]="false">
      <agm-polyline [clickable]="false" [geodesic]="true" [strokeColor]="'#EE4469'">
        <agm-polyline-point *ngFor="let data of ridePath"
          [latitude]="data[0]"
          [longitude]="data[1]">
        </agm-polyline-point>
      </agm-polyline>
      <agm-marker [latitude]="currentLatitude" [longitude]="currentLongitude" [iconUrl]="'assets/location2.png'"></agm-marker>
    </agm-map>
  </div>
  <div class="bottom">
    <p style="text-align: center; color: white; margin: 5px;">Rate your ride</p>
    <div class="rating">
      <ion-icon name="star-outline" (click)="oneStar()" *ngIf="!one" class="star"></ion-icon>
      <ion-icon name="star" (click)="oneStar()" *ngIf="one"></ion-icon>
      <ion-icon name="star-outline" (click)="twoStar()" *ngIf="!two"></ion-icon>
      <ion-icon name="star" (click)="twoStar()" *ngIf="two"></ion-icon>
      <ion-icon name="star-outline" (click)="threeStar()" *ngIf="!three"></ion-icon>
      <ion-icon name="star" (click)="threeStar()" *ngIf="three"></ion-icon>
      <ion-icon name="star-outline" (click)="fourStar()" *ngIf="!four"></ion-icon>
      <ion-icon name="star" (click)="fourStar()" *ngIf="four"></ion-icon>
      <ion-icon name="star-outline" (click)="fiveStar()" *ngIf="!five"></ion-icon>
      <ion-icon name="star" (click)="fiveStar()" *ngIf="five"></ion-icon>
    </div>
    <ion-item class="comment">
      <ion-input [(ngModel)]="comment" placeholder="Add a Comment..."></ion-input>
    </ion-item>
    <br>
    <input type="button" class="rounded button" style="background-color:#FECA51; color: white; padding:0px" value="Done" (click)="done()">
  </div>
  <!--
  <div class="center">
    <h1 *ngIf="!rideSummary">Ride completed!</h1>
    <div class="rating" *ngIf="!rideSummary">
      <ion-icon name="star-outline" (click)="oneStar()" *ngIf="!one"></ion-icon>
      <ion-icon name="star" *ngIf="one"></ion-icon>
      <ion-icon name="star-outline" (click)="twoStar()" *ngIf="!two"></ion-icon>
      <ion-icon name="star" *ngIf="two"></ion-icon>
      <ion-icon name="star-outline" (click)="threeStar()" *ngIf="!three"></ion-icon>
      <ion-icon name="star" *ngIf="three"></ion-icon>
      <ion-icon name="star-outline" (click)="fourStar()" *ngIf="!four"></ion-icon>
      <ion-icon name="star" *ngIf="four"></ion-icon>
      <ion-icon name="star-outline" (click)="fiveStar()" *ngIf="!five"></ion-icon>
      <ion-icon name="star" *ngIf="five"></ion-icon>
    </div>
    <p *ngIf="!rideSummary">Please rate your ride</p>
    <p *ngIf="!rideSummary" (click)="skip()">Skip</p>
    <div class="rideSummary" *ngIf="rideSummary">
      <div class="labels">
        <p>
          Start Time:
        </p>
        <p>
          End Time:
        </p>
        <p>
          Ride Time:
        </p>
        <p>
          Distance:
        </p>
        <p>
          Calories:
        </p>
        <p>
          Rating:
        </p>
      </div>
      <div class="stats">
        <p>
          {{startTime}}
        </p>
        <p>
          {{endTime}}
        </p>
        <p>
          {{time}} min
        </p>
        <p>
          {{distance}} km
        </p>
        <p>
          {{calories}} cal
        </p>
        <p>
          {{rating}}
        </p>
      </div>
      <div class="map">
        <agm-map [latitude]="currentLatitude" [longitude]="currentLongitude" [zoom]="16" [clickableIcons]="false" [streetViewControl]="false">
          <agm-polyline>
            <agm-polyline-point *ngFor="let data of ridePath"
              [latitude]="data[0]"
              [longitude]="data[1]">
            </agm-polyline-point>
          </agm-polyline>
          <agm-polyline>
            <agm-polyline-point *ngFor="let data of ridePath"
              [latitude]="data.lat"
              [longitude]="data.lng">
            </agm-polyline-point>
          </agm-polyline>
          <agm-marker [latitude]="currentLatitude" [longitude]="currentLongitude" [iconUrl]="'assets/location2.png'"></agm-marker>
        </agm-map>
      </div>
      <div class="button">
        <input type="button" class="rounded" value="Done" (click)="dismiss()">
      </div>
    </div>
  </div>
-->
</ion-content>
